.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.navigation-menu-list,
.header-contact {
  display: flex;
}

.header-logo-link {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-color-font);
  margin-right: 93px;
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.mail-link,
.tell-link {
  display: flex;
  align-items: center;
}

.tell-link,
.mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: var(--description-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.tell-link:hover,
.tell-link:focus,
.mail-link:hover,
.mail-link:focus {
  color: var(--accent-hover-color);
}

.header-mail-icon-send {
  fill: #757575;
  width: 16px;
  height: 12px;
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-icon-phone {
  width: 10px;
  height: 16px;
  fill: #757575;
  display: inline-block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-mail-abzac {
  display: inline-block;
}

.mail-link:hover .header-mail-icon-send,
.mail-link:focus .header-mail-icon-send,
.tell-link:hover .header-mail-icon-phone,
.tell-link:focus .header-mail-icon-phone {
  fill: #2196f3;
}

.header-mail-icon-send,
.header-mail-icon-phone {
  margin-right: 10px;
}

.header-contact {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.navigation-menu-item:not(:last-child) {
  margin-right: 40px;
}

.navigation-menu-item {
  position: relative;
}

.navigation-menu-link:hover,
.navigation-menu-link:focus {
  color: var(--accent-hover-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-menu-link {
  color: var(--main-color-font);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-style {
  color: var(--white-font);
}

.active::after {
  content: '';
  display: block;
  height: 4px;
  width: 100%;
  background: #2196f3;
  position: absolute;
  bottom: -31px;
  border-radius: 2px;
}

.logo-style {
  color: var(--accent-hover-color);
}
